---
layout: default
title: Cookies Policy | P W Angling
---
<article>

  {% include header.html %}

  <section class="cookie-desc">
    <div class="cookie-desc-card">
      <h2>How We Use Cookies</h2>
      <p>This website uses some cookies when you browse the site. Cookies are small text files that are stored on your computer, tablet or smartphone by websites that you visit. They are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.</p>
      <p>This site currently uses just two Google Analytics cookies:</p>
      <ul>
        <li><strong>_gat</strong>: expires after 10 minutes.</li>
        <li><strong>_ga</strong>: expires after 2 years.</li>
      </ul>
      <p><a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> helps site owners to understand how visitors use their websites. In this instance we use the resulting analytical data to better understand how many people visit the site, which country they are from, how they arrived at the site, how many pages they visited, how fast the site loaded, and so on. All data collected is completely anonymous, it does not identify you as an individual in any way.
        <a href="https://support.google.com/analytics/answer/6004245" target="_blank">Click here for an overview of privacy at Google</a></p>
        <p>Most web browsers allow some control of cookies through the browser settings. To find out more about cookies visit <a href="http://www.allaboutcookies.org" target="_blank">www.allaboutcookies.org</a></p>
        <p>To opt out of being tracked by Google Analytics across all websites visit <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a></p>
      </div>
    </div> 
    <p> <a class="btn btn-lg btn-primary" href="index.html"><i class="fas fa-home" aria-hidden="true"></i>Home</a>	</p>
  </section>

  {% include footer.html %}

</article>
