---
layout: default
title: P W Angling | Norwich, Norfolk, UK
---
<article>

  {% include header.html %}

  <section class="two-panel-row">
    <div class="panel-one-of-two">
      <img src="./images/PrestonInnovations600x126.png" alt="Preston Innovations logo"> <!-- 400x84 600x126 -->
    </div>
    <div class="panel-two-of-two">
      <img src="./images/Sonu600x126.png" alt="Sonubaits logo">
    </div>
  </section>
  
  <section class="three-panel-row">
    <div class="panel-one-of-three">
      <h3><i class="fas fa-address-card" aria-hidden="true"></i>Address</h3>
      <p>{{ site.data.site.business-address.street }}</p>
      <p>{{ site.data.site.business-address.city }}</p>
      <p>{{ site.data.site.business-address.postcode }}</p>
      <p><a class="btn btn-lg btn-default" href="https://maps.google.com/maps?ll=52.610502,1.301536&z=11&t=m&hl=en-US&gl=GB&mapclient=embed&cid=7267670631932879892" target="_blank"><i class="fas fa-map-marker-alt fa-map-marker-alt-inverse" aria-hidden="true"></i>Map</a></p>
    </div>
    
    <div class="panel-two-of-three">
      <img src="./images/AVIDSymbol250x250.png" alt="Avid logo">
    </div>
    
    <div class="panel-three-of-three">
      <h3><i class="fas fa-calendar"></i>Opening Times</h3>
      <p>{{ site.data.site.opening-times.mon }}</p>
      <p>{{ site.data.site.opening-times.tues }}</p>
      <p>{{ site.data.site.opening-times.weds }}</p>
      <p>{{ site.data.site.opening-times.thurs }}</p>
      <p>{{ site.data.site.opening-times.fri }}</p>
      <p>{{ site.data.site.opening-times.sat }}</p>
      <p>{{ site.data.site.opening-times.sun }}</p>
    </div>
  </section>

  <section class="two-panel-row">
    <div class="panel-one-of-two">
      <img src="./images/AvidLogo600x126.png" alt="Avid Carp logo"> <!-- 400x84 600x126 -->
    </div>
    <div class="panel-two-of-two">
      <img src="./images/Korum600x126.png" alt="Korum logo">
    </div>
  </section>
  
	<section class="shop-desc">
    <div class="shop-desc-card">
      <p><b>P W Angling</b> is situated to the south of Norwich city centre beside the A146 ring road, minutes away from the A47/A146 interchange, ideally located for local and visiting anglers with ample parking on site.</p>
      <p>Tackle from a wide range of manufacturers including Preston Innovations, Korum, Avid Carp, Middy, Shimano, Korda, Maver and many more.</p>
      <p>Large range of ready to fish bait, pellets, meat, corn, shelf life and frozen boilies from Sonubaits, Dynamite, Mainline, Sensas & Ringers amongst others.</p>
      <p>Fresh lugworm available to order.</p>
      <p>Fresh maggots, casters turned on the premises and worms.</p>
      <p>Full range of frozen baits for sea fishing and pike fishing.</p>
      <p>Whether you're a specialist angler, a match angler, a sea angler, a pleasure angler or a beginner <b>P W Angling</b> aims to meet all your angling needs.</p>
    </div> 
	</section>

	<section class="map">
	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77527.61800432685!2d1.2314982541747488!3d52.610505337270666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e3f62f366cd3%3A0x64dbf3ef18e5e414!2sP+W+Angling!5e0!3m2!1sen!2suk!4v1486116017940" width="100%" height="300" frameborder="0" style="border:0 pointer-events:none;" allowfullscreen></iframe>
	</section>

  {% include footer.html %}

</article>

