.cookie-desc {
    background-color: $info-primary;
    margin: .5em;
    padding: .5em .8em;
  }

.cookie-desc-card {
    color: $info-text-primary;

    a {
        color: $info-text-accent;
        text-decoration: underline;
    }

    a:visited {
        color: $info-text-primary;
        text-decoration: none;
    }
    
    a:hover {
        color:$info-text-secondary;
        text-decoration: none;

    }
}

.cookie-nav-home {
    text-align: center;

    a {
        text-decoration: none;
    }
}