header{
    position: relative;
    display: block;
    overflow: hidden;
    color:              $brand-primary;
    background-color:   $brand-accent;
    padding: 1em 1em;
    text-align: center;
    // white-space: nowrap;
    margin-bottom: 0.5rem;

    &::after {
        clear: both;
    }
}
.contact-info, .logo {
    // font-family: cursive, sans-serif;
    // font-family: 'Roboto', sans-serif;    
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    float: left;
    text-align: left;
    padding-right: 1em;
    padding-left: 1em;
    width: 30%;

    h1 {
        text-shadow: 0.01em 0.03em 0.01em $brand-shadow;
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
        font-size: 3.5rem;
    }
    
    h3 {
        margin-top: 1.2rem;
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }
}
.tagline {
    // font-family: 'Kalam', cursive, sans-serif; //xxx
    // font-family: 'Caveat', cursive, sans-serif; //x
    // font-family: 'Kite One', sans-serif;  //xx
    // font-family: 'Handlee', cursive, sans-serif;  //x
    font-family: 'Kaushan Script', cursive, sans-serif; //xxx
    letter-spacing: 0.09em;
    display: block;
    float: left;
    white-space: normal;
    background-color:  $brand-primary;
    color:   $brand-accent;
    width: 36%;
    margin: 0 2%;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0.1em 0.1em 0.1em $brand-shadow;
    box-shadow: inset 0 0 0.5em 0 $brand-shadow, inset 0 0 0 0.05em $brand-shadow;
    line-height: 1.5;
    border-radius: 0.3em;
    padding:0 0.8em;
}
.logo {
    // display: block;
    // float: left;
    text-align: right;
    // padding: 0 1em;
    // width: 30%;
}
.fas {
    padding-right: 0.4em;
}

@media (max-width: $screen-md-min) {
    .contact-info, .tagline, .logo {
        display: block;
        text-align: center;
        margin: 0 0 1.2rem 0;
        width: 100%;
    }

}

// @media (max-width: $screen-sm-min) {
//     .logo {
//         display: none;
//     }
// }

// @media (min-width: $screen-md-max) {
//     .tagline {
//         margin-top: 0.5rem;
//     }
// }
