<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Keywords" content="norwich, norfolk, fishing tackle, tackle shop, coarse fishing, carp fishing, river fishing, match fishing, sea fishing, fresh bait, fresh casters, casters turned on site, fresh sea bait, lugworm, pike baits, lures, lure fishing">
  <meta name="Description" content="PW Angling provides great bait and tackle for all anglers in Norfolk." />
  
  
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="./images/apple-touch-icon.png">

  <!-- Latest compiled and minified CSS -->
  {% include stylesheet.html %}
  
  <title>{{ page.title }}</title>
</head>
<body>
  {{ content }}

  <!-- GOOGLE Analytics Script  -->
  {% include analytics.html %}
  
</body>
</html>